a.inline {
	display: inline-block;
}
a.btn {
	color: rgb(255, 255, 255) !important;
}
a.btn2 {
	color: rgb(255, 255, 255) !important;
}
.btn {
	background: linear-gradient(rgb(162, 122, 1) 0%, rgb(161, 118, 0) 52%, rgb(123, 88, 1) 100%); padding: 7px 0.5em; border-radius: 8px; font-size: 1.08em; font-weight: bold; text-decoration: none; margin-bottom: 1em; display: block; min-width: 20px; text-shadow: 1px 0px 0px #000; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}
.btn2 {
	background: linear-gradient(rgb(162, 122, 1) 0%, rgb(161, 118, 0) 52%, rgb(123, 88, 1) 100%); padding: 7px 0.5em; border-radius: 8px; font-size: 1.08em; font-weight: bold; text-decoration: none; margin-bottom: 1em; display: block; min-width: 20px; text-shadow: 1px 0px 0px #000; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}
.lt-ie9 .btn {
	
}
.lt-ie9 .btn2 {
	
}
.btn {
	text-align: center;
}
.btn2 {
	padding: 7px 38px 7px 0.5em; border: 1px solid rgb(100, 118, 148); border-image: none; height: auto; position: relative;
}
.btn2 span {
	background: url("../images/view-btn-arrow3.png") no-repeat left; top: 0px; width: 32px; height: 100%; right: 0px; position: absolute; border-top-right-radius: 8px; border-bottom-right-radius: 8px; -webkit-border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px;
}
.btn:hover {
	background: linear-gradient(rgb(123, 88, 1) 0%, rgb(173, 129, 7) 52%, rgb(162, 122, 1) 100%); text-decoration: none;
}
.btn2:hover {
	background: linear-gradient(rgb(123, 88, 1) 0%, rgb(173, 129, 7) 52%, rgb(162, 122, 1) 100%); text-decoration: none;
}
.lt-ie9 .btn:hover {
	
}
.lt-ie9 .btn2:hover {
	
}
.careers-full-box .link-list {
	margin: 10px 0px 15px; padding: 0px;
}
.text-holder .link-list {
	margin: 10px 0px 15px; padding: 0px;
}
.careers-full-box .link-list li a {
	background: none; font-weight: normal;
}
.text-holder .link-list li a {
	background: none; font-weight: normal;
}
.text-holder .link-list li a {
	margin: 4px 0px 3px; padding: 0px;
}
.link-list li.indent {
	margin-left: 21px;
}
.about-box .bg {
	background: url("../images/bg.png") no-repeat; width: 82px; height: 151px; right: 0px; bottom: 14px; position: absolute;
}
.about-box {
	background: linear-gradient(rgb(252, 251, 248) 0%, rgb(246, 244, 237) 23%, rgb(243, 240, 231) 47%, rgb(240, 237, 226) 73%, rgb(238, 233, 220) 100%); border-radius: 6px; border: 1px solid rgb(184, 184, 184); border-image: none; width: 310px; position: relative; box-shadow: 3px 3px 3px 2px #d8d6d6; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -webkit-box-shadow: 3px 3px 3px 2px #d8d6d6;
}
.lt-ie9 .about-box {
	
}
.about-box .heading-box {
	background: linear-gradient(rgb(252, 251, 249) 0%, rgb(247, 246, 239) 33%, rgb(239, 236, 225) 72%, rgb(236, 232, 217) 100%); border-radius: 6px 6px 0px 0px; border-bottom-color: rgb(184, 184, 184); border-bottom-width: 1px; border-bottom-style: solid; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
}
.lt-ie9 .about-box .heading-box {
	
}
.about-box.faq {
	width: 242px; margin-bottom: 10px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.about-box.faq .heading-box h2 {
	margin: 7px 0px 8px 12px;
}
.about-box.faq .items-list {
	padding: 2px 0px 2px 9px;
}
.about-box.faq .items-list .text-box {
	padding: 0px 0px 0px 10px; width: 150px;
}
.about-box.faq .items-list li.last {
	padding: 5px 0px 7px 3px;
}
.work-box .heading-box h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 7px 0px 8px 19px; color: rgb(51, 51, 51); text-transform: uppercase; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #fff;
}
.about-box .heading-box h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 7px 0px 8px 19px; color: rgb(51, 51, 51); text-transform: uppercase; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #fff;
}
.work-box .heading-box h3 {
	margin-left: 10px;
}
.work-box {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(254, 254, 254) 59%, rgb(237, 241, 247) 84%, rgb(227, 233, 242) 100%); border-radius: 6px; border: 1px solid rgb(184, 184, 184); border-image: none; width: 300px; box-shadow: 3px 3px 3px 2px #d8d6d6; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -webkit-box-shadow: 3px 3px 3px 2px #d8d6d6;
}
.lt-ie9 .work-box {
	
}
.work-box .heading-box {
	background: linear-gradient(rgb(250, 251, 253) 0%, rgb(227, 233, 240) 51%, rgb(211, 221, 232) 100%); border-radius: 6px 6px 0px 0px; border-bottom-color: rgb(184, 184, 184); border-bottom-width: 1px; border-bottom-style: solid; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0;
}
.lt-ie9 .work-box .heading-box {
	
}
.social-box {
	padding: 7px 0px 0px; overflow: hidden;
}
.social-box .holder-box {
	background: url("../images/separator-4.gif") repeat-x 0px 0px; padding: 14px 0px 0px 7px; width: 242px; overflow: hidden; margin-top: 2px; display: block;
}
.social-box .holder-box .heading {
	padding: 2px 0px 0px; color: rgb(79, 79, 79); text-transform: uppercase; display: block;
}
.social-box .view {
	margin: 0px 0px 0px 5px; color: rgb(47, 93, 171); font-weight: bold; display: inline-block;
}
.featured-box {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(254, 254, 255) 60%, rgb(242, 245, 249) 82%, rgb(228, 233, 242) 100%); border-radius: 6px; border: 1px solid rgb(184, 184, 184); border-image: none; overflow: hidden; min-height: 200px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.lt-ie9 .featured-box {
	
}
.lt-ie9 .featured-box.jobfit {
	background: linear-gradient(rgb(42, 69, 122) 0%, rgb(42, 68, 119) 12%, rgb(32, 59, 104) 39%, rgb(31, 56, 97) 46%, rgb(23, 45, 84) 73%, rgb(22, 44, 81) 73%, rgb(17, 38, 69) 100%);
}
.featured-box.jobfit {
	background: linear-gradient(rgb(42, 69, 122) 0%, rgb(42, 68, 119) 12%, rgb(32, 59, 104) 39%, rgb(31, 56, 97) 46%, rgb(23, 45, 84) 73%, rgb(22, 44, 81) 73%, rgb(17, 38, 69) 100%);
}
.featured-box.jobfit h3 {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.featured-box.jobfit p {
	background: url("../images/jobfit_puzzle_v2.png") no-repeat right bottom; margin: 0px; padding: 5px 0px 0px; color: rgb(255, 255, 255); min-height: 140px;
}
.featured-box.jobfit p span {
	margin: 0px 0px 0px 15px; width: 50%; color: rgb(255, 255, 255); display: inline-block;
}
.featured-box.jobfit .box-holder {
	padding: 5px 0px; text-align: center;
}
.featured-box.jobfit .box-holder a {
	padding: 0px 20px; line-height: 24px; margin-bottom: 0px; display: inline-block; min-height: 24px;
}
.featured-box.jobfit .box-holder a:hover {
	
}
.featured-box.jobfit .box-holder a:focus {
	
}
.featured-box.jobfit .box-holder a::after {
	background: url("../images/view-btn-arrow5.png") no-repeat right; margin: 2px 0px 0px 10px; top: 2px; width: 9px; height: 12px; display: inline-block; position: relative; content: "";
}
.lt-ie9 .featured-box.profiles {
	background: linear-gradient(rgb(42, 69, 122) 0%, rgb(42, 68, 119) 12%, rgb(32, 59, 104) 39%, rgb(31, 56, 97) 46%, rgb(23, 45, 84) 73%, rgb(22, 44, 81) 73%, rgb(17, 38, 69) 100%); position: relative; min-height: 207px;
}
.featured-box.profiles {
	background: linear-gradient(rgb(42, 69, 122) 0%, rgb(42, 68, 119) 12%, rgb(32, 59, 104) 39%, rgb(31, 56, 97) 46%, rgb(23, 45, 84) 73%, rgb(22, 44, 81) 73%, rgb(17, 38, 69) 100%); position: relative; min-height: 207px;
}
.featured-box.profiles .heading-box {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.featured-box.profiles .box-holder {
	background: url("../images/bg-featured-box-careers.png") repeat-x left 103%; margin-left: 0px; filter: none; position: relative; min-height: 169px;
}
.featured-box.profiles .btn {
	margin: 26% 3% 0px;
}
.featured-box.profiles .btn {
	margin: 65px 3% 0px;
}
.featured-box.profiles .btn {
	margin: 0px; left: 50%; top: 50%; width: 85%; position: absolute; transform: translate(-50%, -50%);
}
.featured-box.opportunities {
	position: relative;
}
.featured-box.opportunities ul {
	list-style: none; margin: 0px 0px 1em 1em; padding: 0px;
}
.featured-box.opportunities ul + a {
	margin: 0px 0px 1em; text-align: right; font-weight: bold; display: block;
}
.featured-box li {
	margin-bottom: 3px;
}
.featured-box h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 0px; padding: 7px 0px 8px 13px; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: -1px; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #000;
}
.featured-box .heading-box {
	background: linear-gradient(rgb(44, 71, 123) 0%, rgb(41, 63, 103) 51%, rgb(40, 58, 88) 100%);
}
.lt-ie9 .featured-box .heading-box {
	
}
.lt-ie8 .featured-box .heading-box {
	background: rgb(44, 71, 123);
}
.featured-box .box-holder {
	padding: 10px 7px 0px 10px;
}
.featured-box p {
	margin-top: 0px; margin-bottom: 0.5em;
}
.lt-ie9 .featured-box.myth {
	filter: none; position: relative;
}
.featured-box.myth {
	filter: none; position: relative;
}
.featured-box.myth .heading-box {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.featured-box.myth .box-holder {
	border-radius: 0px 0px 10px 10px; height: 192px; text-align: left; position: relative; background-image: radial-gradient(circle farthest-side at 88px top, rgb(254, 254, 252) 0%, rgb(247, 223, 148) 115%); -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px;
}
.featured-box.myth .box-holder.myth-general {
	background-image: radial-gradient(circle farthest-side at center, rgb(254, 254, 252) 0%, rgb(247, 223, 148) 115%);
}
.featured-box.myth p {
	margin: 1em; color: rgb(51, 51, 51); font-size: 1.08em; font-weight: bold; max-width: 56%;
}
.featured-box.myth .box-holder a {
	background: linear-gradient(rgba(176, 132, 0, 1) 0%, rgba(145, 102, 0, 1) 100%); border-radius: 10px; width: 9.4em; height: 2.23em; text-align: center; bottom: 3.53em; color: rgb(255, 255, 255); line-height: 2.2; font-size: 1.09em; font-weight: bold; display: block; position: absolute; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.featured-box .box-holder.myth-general {
	padding-right: 10px;
}
.featured-box.myth .box-holder.myth-general {
	text-align: center;
}
.featured-box.myth .box-holder.myth-general p {
	margin: auto; padding: 0px; left: 0px; text-align: center; right: 0px; bottom: 2em; position: absolute; max-width: 100%;
}
.featured-box.myth .box-holder.myth-general a {
	margin: 0px auto; width: 9.7em; bottom: 0px; position: relative;
}
.featured-box.stu-jobfit p {
	background: url("../images/stu-jobfit-bg.png") no-repeat right bottom;
}
.lt-ie9 .featured-box.stu-jobfit {
	background: rgb(219, 223, 226);
}
.featured-box.stu-jobfit {
	background: rgb(219, 223, 226);
}
.featured-box.stu-jobfit .box-holder {
	background-color: rgb(12, 42, 79);
}
.featured-box.stu-jobfit .box-holder a {
	color: white; font-size: 1.16em;
}
.featured-box.stu-jobfit p span {
	margin: 10px 0px 0px 15px; width: 38%; color: rgb(12, 42, 79); font-size: 16px;
}
.myth-general p img {
	left: 6px; top: 9px; display: inline; position: relative;
}
.lt-ie8 .myth-general p img {
	top: 1px;
}
.deco-portlet-myth0 {
	left: -38px; width: 323px; height: 245px; bottom: 0px; display: block; position: absolute; background-image: url("../images/right-rail-myth0.png"); background-repeat: no-repeat;
}
.deco-portlet-myth1 {
	width: 209px; height: 236px; right: 0px; bottom: 0px; display: block; position: absolute; background-image: url("../images/right-rail-myth1.png"); background-repeat: no-repeat;
}
.deco-portlet-myth6 {
	width: 252px; height: 240px; right: 0px; bottom: 0px; display: block; position: absolute; background-image: url("../images/right-rail-myth6.png"); background-repeat: no-repeat;
}
.deco-portlet-myth12 {
	width: 198px; height: 233px; right: 0px; bottom: 0px; display: block; position: absolute; background-image: url("../images/right-rail-myth12.png"); background-repeat: no-repeat;
}
aside section {
	margin: 0px 10px 0px 0px; float: left; min-width: 242px; max-width: 242px;
}
.section-careers aside section {
	min-width: 220px; max-width: 220px;
}
.smallscreen .section-careers aside {
	margin: 0px 0px 0px 3.6%;
}
.columns .col-2 .heading-box h2 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 7px 0px 8px 19px; color: rgb(51, 51, 51); text-transform: uppercase; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #fff;
}
.work-box .heading-box h2 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 7px 0px 8px 19px; color: rgb(51, 51, 51); text-transform: uppercase; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #fff;
}
.about-box .heading-box h2 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; margin: 7px 0px 8px 19px; color: rgb(51, 51, 51); text-transform: uppercase; font-size-adjust: none; font-stretch: normal; text-shadow: 1px 0px 0px #fff;
}
.work-box .heading-box h2 {
	margin: 7px 0px 8px 14px; color: rgb(63, 63, 63);
}
.items-list {
	list-style: none; margin: 0px 0px -2px; padding: 2px 0px 0px 17px; overflow: hidden;
}
.items-list li {
	padding: 8px 0px 12px; overflow: hidden; vertical-align: top;
}
.items-list li.last {
	padding: 0px 0px 12px;
}
.items-list li img {
	float: left;
}
.items-list .text-box {
	padding: 0px 0px 0px 12px; width: 192px; color: rgb(79, 79, 79); line-height: 16px; float: left;
}
.items-list .text-box a {
	color: rgb(47, 93, 171); line-height: 1.21em; font-size: 1.16em; font-weight: bold;
}
.items-list .text-box p {
	margin: 0px 0px 6px;
}
.items-list li .more {
	color: rgb(47, 93, 171); font-weight: bold;
}
.columns .col-2 {
	padding: 0px 22px 0px 14px; width: 288px; float: left;
}
.columns .col-3 .kids-container-box .heading-box {
	background: url("../images/bg-heading-box.gif") repeat-x 0px 12px; overflow: hidden;
}
.columns .col-3 .heading-box.add {
	background: url("../images/bg-heading-box.gif") repeat-x 0px 12px; overflow: hidden;
}
.columns .col-2 .heading-box {
	background: url("../images/bg-heading-box.gif") repeat-x 0px 12px; overflow: hidden;
}
.columns .col-3 .kids-container-box .heading-box h2 {
	background: rgb(255, 255, 255); font: 1.33em/1.18em "cousineregular", Arial, Helvetica sans-serif; margin: 2px 0px 0px; padding: 0px 10px 0px 0px; text-transform: uppercase; float: left; font-size-adjust: none; font-stretch: normal;
}
.columns .col-3 .heading-box.add h2 {
	background: rgb(255, 255, 255); font: 1.33em/1.18em "cousineregular", Arial, Helvetica sans-serif; margin: 2px 0px 0px; padding: 0px 10px 0px 0px; text-transform: uppercase; float: left; font-size-adjust: none; font-stretch: normal;
}
.columns .col-2 .heading-box h2 {
	background: rgb(255, 255, 255); font: 1.33em/1.18em "cousineregular", Arial, Helvetica sans-serif; margin: 2px 0px 0px; padding: 0px 10px 0px 0px; text-transform: uppercase; float: left; font-size-adjust: none; font-stretch: normal;
}
.info-list {
	list-style: none; margin: 0px; padding: 5px 0px 0px; overflow: hidden;
}
.info-list li {
	padding: 8px 0px 6px; overflow: hidden; vertical-align: top;
}
.col-2 .info-list li {
	padding-bottom: 20px;
}
.info-list li .image {
	margin: 2px 0px 0px; border: 1px solid rgb(175, 175, 175); border-image: none; float: left;
}
.info-list li .text-box {
	padding: 0px 0px 0px 16px; width: 196px; color: rgb(79, 79, 79); float: left;
}
.info-list li h3 {
	margin: 0px 0px 2px; line-height: 1.21em; font-size: 1.16em; font-weight: bold;
}
.info-list li h3 a {
	color: rgb(47, 93, 171);
}
.info-list li p {
	margin: 0px 0px 7px;
}
.info-list li .btn-go {
	background: rgb(7, 67, 112); padding: 5px 9px; color: rgb(255, 255, 255); font-weight: bold; display: inline-block;
}
.info-list li .btn-go:hover {
	background: rgb(7, 85, 144); text-decoration: none;
}
.columns .col-3 {
	padding: 0px; width: 310px; float: left;
}
.science-box {
	padding: 10px 0px 16px 10px; overflow: hidden;
}
.science-box .image {
	border: 1px solid rgb(175, 175, 175); border-image: none; float: left;
}
.science-box .text-box {
	padding: 0px 0px 0px 13px; width: 170px; color: rgb(79, 79, 79); float: left;
}
.science-box .text-box h3 {
	font: 21px/24px "cousineregular", Arial, Helvetica sans-serif; margin: 0px 0px 8px; color: rgb(22, 34, 53); font-size-adjust: none; font-stretch: normal;
}
.science-box .text-box p {
	margin: 0px 0px 10px;
}
.link-list {
	list-style: none; margin: 0px; padding: 7px 0px 0px;
}
.link-list li {
	padding: 0px 0px 2px; overflow: hidden; vertical-align: top;
}
.link-list li a {
	background: url("../images/arrow-4.png") no-repeat 0px 4px; padding: 0px 0px 0px 11px; color: rgb(47, 93, 171); font-weight: bold; float: left;
}
.columns .col-3 .kids-container-box .heading-box {
	margin: 17px 0px 0px 2px;
}
.columns .col-3 .heading-box.add {
	margin: 17px 0px 0px 2px;
}
.columns .col-3 .kids-container-box .heading-box h2 {
	background: rgb(255, 255, 255); font: 1.33em/1.18em "cousineregular", Arial, Helvetica sans-serif; margin: 2px 0px 0px; padding: 0px 12px 0px 0px; color: rgb(51, 51, 51); float: left; font-size-adjust: none; font-stretch: normal;
}
.columns .col-3 .heading-box.add h2 {
	background: rgb(255, 255, 255); font: 1.33em/1.18em "cousineregular", Arial, Helvetica sans-serif; margin: 2px 0px 0px; padding: 0px 12px 0px 0px; color: rgb(51, 51, 51); float: left; font-size-adjust: none; font-stretch: normal;
}
.content-box-2 .featured-box {
	margin-bottom: 1em;
}
@media only screen and (min-width:650px)
{
.section-careers .content-box-2 {
	margin-top: 0.5em; display: block;
}
}
@media only screen and (max-width:767px) and (min-width:650px)
{
.section-careers .description-box {
	float: left;
}
}
@media only screen and (max-width:992px) and (min-width:768px)
{
.section-careers #content {
	width: 100%; float: left;
}
}
.featured-box .box-holder img {
	margin-bottom: 7px; vertical-align: top;
}
.featured-box .box-holder p {
	margin: 0px 0px 9px;
}
.featured-box .box-holder .view {
	color: rgb(47, 93, 171); font-weight: bold;
}
.featured-box .image-box {
	margin: 0px 0px 7px; position: relative;
}
.featured-box .image-box .play-btn {
	background: url("../images/play-btn.png") no-repeat; left: 67px; top: 6px; width: 101px; height: 101px; position: absolute;
}
.in-cart-message {
	background: rgb(106, 106, 106); padding: 0px 10px; border: 1px solid rgb(0, 0, 0); border-image: none; height: 32px; color: rgb(255, 255, 255); line-height: 32px; font-weight: bold; text-decoration: none; display: inline-block;
}
.in-cart-message:link {
	color: rgb(255, 255, 255); font-size: 1em;
}
.in-cart-message:visited {
	color: rgb(255, 255, 255); font-size: 1em;
}
.in-cart-message:hover {
	color: rgb(255, 255, 255); font-size: 1em;
}
.in-cart-message:active {
	color: rgb(255, 255, 255); font-size: 1em;
}
.add-to-job-cart-placeholder {
	margin: 1em 0px;
}
.add-to-job-cart-placeholder-2 {
	margin: 1em 0px;
}
.simpleCart_shelfItem {
	float: left;
}
.simpleCart_shelfItem .item_price {
	font-style: italic;
}
.action-note {
	color: rgb(153, 31, 31); font-size: 0.8em; margin-left: 1.1em;
}
.item_hrecid {
	display: none;
}
.item_url {
	display: none;
}
.add-to-job-cart-button {
	width: 191px; height: 32px; display: inline-block; background-image: url("../images/jobcart/button-add-to-job-cart.gif");
}
.remove-background {
	
}
.simpleCart_items {
	padding: 0.6em 0px 2em; clear: both;
}
.itemContainer {
	margin: 0.8em 0px 0px; clear: both;
}
.itemRemove {
	overflow: hidden; margin-left: 1em; float: left; white-space: pre;
}
.itemRemove a {
	width: 60px; height: 19px; display: block;
}
.itemRemove a:link {
	background: url("../images/jobcart/button-remove-job-sprite.png") no-repeat left 0px;
}
.itemRemove a:visited {
	background: url("../images/jobcart/button-remove-job-sprite.png") no-repeat left 0px;
}
.itemRemove a:hover {
	background-position: left -57px;
}
.itemRemove a:active {
	background-position: left -57px;
}
.itemRemove a:focus {
	background-position: left -57px;
}
.itemName {
	margin: 0.15em 0px 0px 0.6em; padding: 0px; color: rgb(29, 53, 95); overflow: hidden; float: left; white-space: pre;
}
.itemName a:link {
	color: rgb(29, 53, 95); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.93em; font-weight: bold; text-decoration: none;
}
.itemName a:visited {
	color: rgb(29, 53, 95); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.93em; font-weight: bold; text-decoration: none;
}
.itemName a:hover {
	color: rgb(29, 53, 95); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.93em; font-weight: bold; text-decoration: none;
}
.itemName a:active {
	color: rgb(29, 53, 95); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.93em; font-weight: bold; text-decoration: none;
}
.itemName a:hover {
	text-decoration: underline;
}
.itemName a:active {
	text-decoration: underline;
}
#cart-container {
	background: url("../images/jobcart/background-job-cart-main.jpg") repeat-x bottom; border-radius: 10px; border: 1px solid rgb(172, 172, 172); border-image: none; margin-top: 1.5em; margin-bottom: 1.5em; min-height: 10em; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#cart-container-main {
	border-radius: 0px 0px 10px 10px; clear: both; background-image: linear-gradient(rgb(254, 254, 254) 75%, rgb(205, 215, 228) 100%); -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px;
}
.lt-ie9 #cart-container-main {
	
}
#cart-container-header {
	padding: 0.45em 0px; border-radius: 10px 10px 0px 0px; width: 100%; border-bottom-color: rgb(172, 172, 172); border-bottom-width: 1px; border-bottom-style: solid; position: relative; background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(205, 215, 228) 100%); background-color: rgb(205, 215, 228); -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0;
}
.lt-ie9 #cart-container-header {
	
}
.continue-job-search {
	margin: 0px 0px 1em 1em; float: left;
}
.apply-now {
	margin: 0px 1em 1em; float: right;
}
.qib-heading {
	color: rgb(125, 125, 125); overflow: visible; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.75em; font-weight: bold; float: right;
}
.qib-description {
	color: rgb(125, 125, 125); clear: right; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.75em; font-style: italic; float: right;
}
#qib-descriptor-group {
	margin: 0px 0.4em 0px 0px; padding: 0px; line-height: 1.1; float: right;
}
#cart-container-header .quantity-indicator-block {
	margin-right: 0.45em; float: right;
}
#cart-container-header .quantity-indicator-progressblock {
	margin-right: 0.45em; float: right;
}
#cart-container-header-heading {
	left: -1px; width: 263px; height: 54px; bottom: -6px; position: absolute;
}
#cart-container-header-heading h2 {
	font: 1.37em/1.8 "cousineregular", Arial, Helvetica, sans-serif; margin: 0.5em 0px 0px 1.2em; padding: 0px; color: rgb(51, 51, 51); text-transform: uppercase; letter-spacing: 2px; float: left; font-size-adjust: none; font-stretch: normal;
}
#cart-container-header-heading img {
	margin: 0.8em 0px 0px 2.8em; float: left;
}
.plain_x > p {
	color: rgb(100, 100, 100);
}
.plain_x > h3 {
	color: rgb(100, 100, 100); padding-top: 2em; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 1.15em;
}
.plain_x > h4 {
	color: rgb(100, 100, 100); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 1em;
}
.emph {
	font-weight: bold;
}
.quantity-indicator-progressblock {
	margin: 0.2em auto 0.1em; border-radius: 25px; border: 1px solid rgb(173, 178, 182); border-image: none; width: 90%; height: 23px; box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.2); -moz-border-radius: 25px; -webkit-border-radius: 25px; -webkit-box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#cart-container-header .quantity-indicator-progressblock {
	width: 45%;
}
.quantity-indicator-progressblock > span {
	border-radius: 25px; width: 0px; height: 100%; overflow: hidden; float: left; display: block; position: relative; box-shadow: inset 5px 5px 5px 5px rgba(58,80,126,0.2); background-color: rgb(19, 40, 74); -moz-border-radius: 25px; -webkit-border-radius: 25px; -webkit-box-shadow: inset 5px 5px 5px 5px rgba(58, 80, 126, 0.2); -moz-box-shadow: inset 5px 5px 5px 5px rgba(58, 80, 126, 0.2);
}
.quantity-indicator-progress-1 > span {
	width: 25%;
}
.quantity-indicator-progress-2 > span {
	width: 50%;
}
.quantity-indicator-progress-3 > span {
	width: 75%;
}
.quantity-indicator-progress-4 > span {
	width: 100%;
}
p.job-cart-instructions {
	margin-top: 1em;
}
.quantity-indicator-block-container {
	margin: 0px 10px 0px 0px; padding: 0px; width: 100%; float: left; position: relative; max-width: 220px;
}
@media only screen and (min-width:999px)
{
.section-careers aside section {
	min-width: 242px; max-width: 242px;
}
.section-careers aside section.social-box {
	min-width: 242px; max-width: 242px;
}
.quantity-indicator-block-container {
	width: 100%; max-width: 242px;
}
}
aside .quantity-indicator-block-container {
	margin-bottom: 1em;
}
.quantity-indicator-block {
	margin: 0px auto; padding: 0px; float: left; display: inline-block;
}
.qi-section-1 {
	margin: 0px; padding: 0px; width: 100%; position: relative;
}
.qi-section-2 {
	
}
.quantity-indicator-block p {
	margin: 0px; padding: 0px;
}
.quantity-indicator-block-container .simpleCart_quantity {
	color: rgb(62, 85, 121); font-weight: bold; display: inline-block;
}
.quantity-indicator {
	border: 1px solid rgb(174, 174, 174); border-image: none; width: 2.92em; height: 1.5em; text-align: center; color: rgb(125, 125, 125); line-height: 1.5; vertical-align: middle; float: left; background-color: rgb(225, 225, 225);
}
.quantity-indicator-on {
	color: rgb(255, 255, 255); background-color: rgb(125, 125, 125);
}
.qi-component-heading {
	font: 1em/normal "cousineregular", Arial, Helvetica, sans-serif; margin: 0px; padding: 0.6em 0px 0.6em 1em; border-radius: 7px 7px 0px 0px; border: 1px solid rgb(184, 184, 184); border-image: none; color: rgb(51, 51, 51); text-transform: uppercase; letter-spacing: 1px; position: relative; font-size-adjust: none; font-stretch: normal; background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(205, 215, 228) 100%); background-color: rgb(205, 215, 228); -moz-border-radius: 7px 7px 0 0; -webkit-border-radius: 7px 7px 0 0;
}
.lt-ie9 .qi-component-heading {
	
}
.qi-component-heading img {
	display: inline;
}
.qi-component-progress {
	padding: 0.6em 0px; text-align: center; border-right-color: rgb(184, 184, 184); border-left-color: rgb(184, 184, 184); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(229, 231, 233) 100%); background-color: rgb(229, 231, 233);
}
.lt-ie9 .qi-component-progress {
	
}
.qi-component-body {
	background: linear-gradient(rgb(254, 254, 254) 0%, rgb(229, 234, 242) 100%) repeat-x bottom; padding: 0.8em 0.3em 0.6em 0.5em; border-radius: 0px 0px 7px 7px; border: 1px solid rgb(184, 184, 184); border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 0.92em; -moz-border-radius: 0 0 7px 7px; -webkit-border-radius: 0 0 7px 7px;
}
.lt-ie9 .qi-component-body {
	
}
.qi-component-body a:link {
	color: rgb(125, 125, 125);
}
.qi-component-body a:visited {
	color: rgb(125, 125, 125);
}
.qi-component-body a:hover {
	color: rgb(125, 125, 125);
}
.qi-component-body a:active {
	color: rgb(125, 125, 125);
}
.qi-shopping-cart-icon {
	background: url("../images/jobcart/iconshoppingcart.png") no-repeat; left: 58%; top: 27%; width: 15px; height: 17px; display: inline-block; position: absolute;
}
.quantity-indicator-block-container .qi-component-heading {
	font: 1.8rem/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 0.6em 1.5rem; border-radius: 7px 7px 0px 0px; border: currentColor; border-image: none; color: rgb(102, 103, 112); text-transform: none; letter-spacing: normal; position: relative; font-size-adjust: none; font-stretch: normal; background-image: none; background-color: rgb(231, 236, 243);
}
.quantity-indicator-block-container .qi-component-heading > div {
	letter-spacing: normal; padding-top: 0.45rem; font-size: 1.3rem; float: right;
}
.quantity-indicator-block-container .qi-component-progress {
	padding: 0px; text-align: center; border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium; border-right-style: none; border-left-style: none; background-image: none; background-color: rgb(231, 236, 243);
}
.quantity-indicator-block-container .qi-component-body {
	background: rgb(231, 236, 243); padding: 1rem 0.3em 0.75rem 0.5em; border-radius: 0px 0px 7px 7px; border: currentColor; border-image: none; text-align: center; color: rgb(51, 51, 51); font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; font-size: 0.92em;
}
.quantity-indicator-block-container .view-cart-button {
	margin: 0px auto; border: 1px solid rgb(255, 255, 255); border-image: none; width: 11.7rem; height: 2.5rem; text-align: center; color: rgb(102, 103, 112); font-weight: bold;
}
.quantity-indicator-block-container .view-cart-button a {
	background: linear-gradient(rgb(253, 253, 254) 0%, rgb(215, 223, 234) 99%); height: 2.5rem; color: rgb(102, 103, 112); line-height: 2.2;
}
.quantity-indicator-block-container .view-cart-button a:active {
	background: linear-gradient(rgb(215, 223, 234) 1%, rgb(253, 253, 254) 100%);
}
.quantity-indicator-block-container .view-cart-button a:hover {
	background: linear-gradient(rgb(215, 223, 234) 1%, rgb(253, 253, 254) 100%);
}
.quantity-indicator-block-container .quantity-indicator-progressblock {
	background: url("../images/cart-qty-indicator.png") no-repeat top; margin: 0px auto; border-radius: 0px; border: currentColor; border-image: none; width: 224px; height: 35px; text-align: center; box-shadow: none;
}
.quantity-indicator-block-container .quantity-indicator-progressblock.quantity-indicator-progress-1 {
	background-position: center -35px;
}
.quantity-indicator-block-container .quantity-indicator-progressblock.quantity-indicator-progress-2 {
	background-position: center -70px;
}
.quantity-indicator-block-container .quantity-indicator-progressblock.quantity-indicator-progress-3 {
	background-position: center -105px;
}
.quantity-indicator-block-container .quantity-indicator-progressblock.quantity-indicator-progress-4 {
	background-position: center -140px;
}
.job-cart-shopping-cart-icon {
	background: url("../images/jobcart/jobcartheaderheadingcart.png") no-repeat; margin: 12px 0px 0px 3.5em; width: 24px; height: 29px; float: left; display: inline-block;
}
.view-cart-button {
	margin: 0.8em auto; border: 1px solid rgb(128, 146, 177); border-image: none; width: 7em; height: 3em; text-align: center; color: rgb(42, 68, 106); font-weight: bold; background-color: rgb(231, 236, 243);
}
.view-cart-button a {
	height: 3em; line-height: 3; text-decoration: none; display: block;
}
.view-cart-button a:link {
	color: rgb(42, 68, 106);
}
.view-cart-button a:visited {
	color: rgb(42, 68, 106);
}
.view-cart-button a:hover {
	text-decoration: none; background-color: rgb(254, 254, 254);
}
.view-cart-button a:active {
	text-decoration: none; background-color: rgb(254, 254, 254);
}
.quantity-indicator-progressblock-description {
	color: rgb(125, 125, 125); font-size: 0.9em; font-style: italic;
}
.corner-chop {
	background: url("../images/jobcart/deco-qi-component-heading-corner-chop.png") no-repeat; top: -1px; width: 31px; height: 10px; right: -1px; display: inline-block; position: absolute;
}
#qi-shopping-cart-icon {
	top: -0.1em; margin-left: 2.5em; position: relative;
}
.continue-job-search-button {
	background: rgb(231, 236, 243); padding: 0px 10px; border: 1px solid rgb(47, 93, 171); border-image: none; height: 32px; color: rgb(47, 93, 171); line-height: 32px; font-weight: bold; text-decoration: none; display: inline-block;
}
.apply-now-button {
	background: rgb(231, 236, 243); padding: 0px 10px; border: 1px solid rgb(47, 93, 171); border-image: none; height: 32px; color: rgb(47, 93, 171); line-height: 32px; font-weight: bold; text-decoration: none; display: inline-block;
}
.add-to-cart-button {
	background: rgb(231, 236, 243); padding: 0px 10px; border: 1px solid rgb(47, 93, 171); border-image: none; height: 32px; color: rgb(47, 93, 171); line-height: 32px; font-weight: bold; text-decoration: none; display: inline-block;
}
.send-to-friend a {
	background: rgb(231, 236, 243); padding: 0px 10px; border: 1px solid rgb(47, 93, 171); border-image: none; height: 32px; color: rgb(47, 93, 171); line-height: 32px; font-weight: bold; text-decoration: none; display: inline-block;
}
.continue-job-search-button:active {
	text-decoration: none;
}
.continue-job-search-button:hover {
	text-decoration: none;
}
.apply-now-button:active {
	text-decoration: none;
}
.apply-now-button:hover {
	text-decoration: none;
}
.add-to-cart-button:active {
	text-decoration: none;
}
.add-to-cart-button:hover {
	text-decoration: none;
}
.send-to-friend a:active {
	text-decoration: none;
}
.send-to-friend a:hover {
	text-decoration: none;
}
.send-to-friend a {
	padding: 0px 12px;
}
.continue-job-search-button:active {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.continue-job-search-button:hover {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.continue-job-search-button:focus {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.apply-now-button:active {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.apply-now-button:hover {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.apply-now-button:focus {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.add-to-cart-button:active {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.add-to-cart-button:hover {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.add-to-cart-button:focus {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.send-to-friend a:hover {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.send-to-friend a:focus {
	background: rgb(47, 93, 171); color: rgb(231, 236, 243);
}
.js-remove-item-span {
	font-size: 1em;
}
.js-remove-item-span a {
	text-decoration: none;
}
#apply-button-2 .js-remove-item-span a {
	text-decoration: none; float: none;
}
.js-remove-item-span a:hover {
	text-decoration: underline;
}
.js-remove-item-span a:focus {
	text-decoration: underline;
}
.supplemental-full-message {
	margin: 1em 0px 0px; display: block;
}
.message-cart-is-full {
	margin: 0px 2em 1em; font-style: italic; display: block;
}
#apply-button-1 {
	margin: 0px; float: right; display: block;
}
.apply-button-1#apply-button-1 {
	margin-left: 1em;
}
#apply-button-2 {
	margin: 1.5em 0px;
}
.wai {
	left: -999em; top: 0px; width: 0px; height: 0px; text-indent: -999em; position: absolute;
}
.js .script {
	left: -999em; top: 0px; width: 0px; height: 0px; text-indent: -999em; position: absolute;
}
.hide {
	left: -999em; top: 0px; width: 0px; height: 0px; text-indent: -999em; position: absolute;
}
@media only screen and (max-width:480px)
{
.job-cart-shopping-cart-icon {
	display: none;
}
.itemName {
	overflow: visible; float: none; white-space: normal;
}
.itemRemove {
	margin: 0px 1em; overflow: hidden; float: left; white-space: pre;
}
}
.tabs ul.tabs-list {
	list-style: none; margin: 0px; padding: 0px;
}
.tabs ul.tabs-list li {
	float: left;
}
.tabs ul.tabs-list a {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(230, 230, 230) rgb(230, 230, 230) currentColor; margin: 3px 3px 0px; padding: 0px; border-image: none; float: left;
}
.tabs ul.tabs-list img {
	vertical-align: top;
}
.tabs ul.tabs-list .current {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(230, 230, 230) rgb(230, 230, 230) currentColor; padding: 0px; border-image: none;
}
.tabs ul.tabs-list a:hover {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(230, 230, 230) rgb(230, 230, 230) currentColor; padding: 0px; border-image: none;
}
.tabs ul.tabs-list .current a {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.tabs ul.tabs-list .current a:hover {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.tabs ul.tabs-list .view {
	margin: 0px 0px 0px 5px; color: rgb(47, 93, 171); font-weight: bold; display: inline-block;
}
.tabs .current-info {
	left: -999em; position: absolute;
}
.tabs .accessibletabsanchor {
	left: -999em; position: absolute;
}
.tabs .tabhead {
	left: -999em; position: absolute;
}
.tabs .content {
	padding: 4px 0px 0px;
}
.tabs {
	width: 301px; overflow: hidden; margin-top: 5px;
}
.section-title {
	font: 1.08em/1.23em "cousineregular", Arial, Helvetica sans-serif; margin: 0px; color: rgb(51, 51, 51); font-size-adjust: none; font-stretch: normal;
}
.narrow {
	padding: 5px 0px 0px; width: 242px; margin-bottom: 5px;
}
.narrow .section-title {
	color: rgb(51, 51, 51); text-transform: uppercase; padding-left: 7px; font-family: "cousineregular", Arial, Helvetica sans-serif; font-weight: normal;
}
.social-box .narrow {
	padding: 14px 0px 0px; overflow: hidden;
}
.narrow .tabs ul.tabs-list {
	list-style: none; margin: -14px 0px 0px; padding: 0px; top: 4px; position: relative;
}
.columns .col-3 .kids-container-box .heading-box {
	background: url("../images/bg-heading-box.gif") repeat-x center;
}
.columns .col-3 .heading-box.add {
	background: url("../images/bg-heading-box.gif") repeat-x center;
}
.columns .col-2 .heading-box {
	background: url("../images/bg-heading-box.gif") repeat-x center;
}
.columns .col-3 .kids-container-box .heading-box {
	margin-right: 10px;
}
.columns .col-3 .heading-box.add {
	margin-right: 10px;
}
.columns .col-3 .kids-container-box .heading-box h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); text-transform: uppercase; padding-right: 0.5em; float: left; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
.columns .col-3 .heading-box.add h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); text-transform: uppercase; padding-right: 0.5em; float: left; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
.col-2 .heading-box h3 {
	font: 1.33em/1.26em "cousineregular", Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); text-transform: uppercase; padding-right: 0.5em; float: left; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
.col-2 .heading-box h3.treb {
	font: 1.33em/1.26em trebuchet ms, Arial, Helvitica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.columns .col-3 .kids-container-box .heading-box h3.treb {
	font: 1.33em/1.26em trebuchet ms, Arial, Helvitica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.kids-box {
	padding: 10px 0px 0px; overflow: hidden;
}
.kids-box .image {
	margin: 2px 0px 0px -1px; float: left;
}
.kids-box .text-box {
	padding: 0px 0px 0px 10px; width: 165px; color: rgb(79, 79, 79); float: left;
}
.kidszone-flash-box {
	margin: 10px 0px;
}
.kids-box .text-box p {
	margin: 0px 0px 10px;
}
.link-list.add {
	padding: 0px 0px 0px 2px;
}
.link-list.add li {
	padding: 0px 0px 5px;
}
.link-list.add li a {
	padding: 0px 0px 0px 16px;
}
.template-homepage_html .social-box .holder-box {
	width: 290px;
}
.template-homepage_html .connect-video {
	width: 286px; height: 161px;
}
.social-box .connect-twitter {
	width: 286px; height: 161px;
}
.no-js .social-box .tabbody {
	min-height: 0px;
}
#flickr_badge_wrapper {
	margin: 1em 0px 0px; padding: 0px; width: 100%; overflow: hidden;
}
#flickr_badge_wrapper img {
	margin: 1px; padding: 0px; border: 1px solid rgb(102, 102, 102); border-image: none; width: 66px; height: 66px; float: left;
}
#flickr_badge_wrapper img.noscript-image {
	border: currentColor; border-image: none; width: 292px; height: 143px;
}
.social-box {
	position: relative;
}
.social-links {
	top: 19px; right: 50px; position: absolute; z-index: 10;
}
.social-links a {
	padding: 0px 0px 0px 8px; float: left;
}
.template-homepage_html .tabs ul.tabs-list {
	list-style: none; margin: 0px; padding: 0px 90px 0px 8px; float: right;
}
.social-box {
	position: relative;
}
.social-links {
	top: 31px; right: 50px; position: absolute; z-index: 10;
}
.social-links a {
	padding: 0px; float: left;
}
.narrow .tabs ul.tabs-list {
	padding-right: 0px;
}
.narrow .social-links {
	top: 31px; right: 130px;
}
.no-js .social-box .default-connect.visuallyhidden {
	margin: auto; padding: 0px; border: 0px currentColor; border-image: none; width: auto; height: auto; overflow: hidden; display: block; position: relative; clip: auto;
}
